@font-face {
  font-family: "Prototype";
  src: url("../../assets/Prototype.ttf") format("truetype");
}
.detailVista {
  display: flex;
  flex-direction: row;
  background-image: url("../../assets/bkgDetail.jpg");
  /* background-size: cover; */
}

.detailImg {
  display: block;
  width: 50%;
  height: 46rem;
  object-fit: cover;
  margin: 80px 0px 0px 50px;
  border-radius: 10px;
}

.detailContent {
  display: flex;
  flex-direction: column;
  margin: 70px 0px 0px 70px;
  justify-content: space-between;
}

.detailTitulo {
  font-family: "Prototype";
  font-family: "Prototype";
  font-size: 3rem;
  font-weight: 300;
  color: rgb(238, 238, 6);
  width: 700px;
}

.detailDescripcion {
  width: 80%;
  font-family: "Prototype";
  font-size: 20px;
  color: rgb(235, 210, 15);
  margin: 0px;
}

.detailGeneros,
.detailPlataformas,
.detailRating,
.detailReleased {
  font-family: "Prototype";
  color: rgb(9, 248, 101);
  font-size: 20px;
}

.detailBtnBack {
  margin: 0px 30px 0px 300px;
  width: 150px;
  color: #d2691e;
  text-decoration: none;
  font-family: "Prototype";
  border: 2px solid #d2691e;
  background-color: #080808d6;
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  border-radius: 5px;
  transition-property: all;
  transition-duration: 0.5s;
}

.detailBtnBack:hover {
  color: #000000;
  background-color: #ff8c00;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
}

.space {
  margin-left: 10px;
  padding: 9px 10px 10px 10px;
}

@media (max-width: 1350px) {
  .detailImg {
    width: 40%;
  }
}

@media (max-width: 1150px) {
  .detailImg {
    width: 30%;
  }
}
