@font-face {
  font-family: "Prototype";
  src: url("../../assets/Prototype.ttf") format("truetype");
}
.card-img {
  display: block;
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.card-content {
  padding: 0.6rem;
}

.card-header {
  font-size: 1.3rem;
  font-weight: 300;
  color: #f7901a;
  width: 320px;
  font-family: "Prototype";
  letter-spacing: 1px;
}

.card-text {
  font-family: "Prototype";
  font-size: 1rem;
  color: #0afb2a;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 1700px) {
  /* .card-img {
        width: 22vw;
    } */
}

@media (max-width: 1529px) {
  /* .card-img {
        width: 20rem;
    } */
}
