@font-face {
  font-family: "Prototype";
  src: url("../../assets/Prototype.ttf") format("truetype");
}

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 7rem;
  width: 96%;
  padding: 0.2rem 2%;
  color: rgb(24, 24, 23);
  text-align: left;
  backdrop-filter: blur(4px);
  margin-top: 5em;
}

.footer h5 {
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-family: "Prototype";
  color: rgb(240, 156, 12);
  letter-spacing: 2px;
}
.infoLeft {
  text-decoration: none;
  color: rgb(10, 10, 10);
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Prototype";
  letter-spacing: 1px;
  /* margin-left: 5em; */
}

.infoLeft,
.infoRight {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  font-family: "Prototype";
}

.infoLeft > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.infoRight > a {
  padding: 0.2rem;
  font-size: 1.3rem;
  border-radius: 2rem;
  background-color: rgb(15, 15, 15);
  color: rgb(245, 245, 245);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.infoRight > a:hover {
  transform: scale(1.05);
}

.infoRight > a:active {
  transform: scale(0.95);
}

.infoRight img {
  height: 3.4rem;
}
