.searchBar {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  /* align-content: flex-end; */
  /* margin-top: 20px; */
  /* margin-left: 10%; */
  margin-left: 50px;
}

.inputDecorated {
  width: 100%;
  border: 2px solid black;
  border-radius: 15px;
  margin: 8px 0;
  margin-top: 20px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
  font-size: 20px;
  background-color: transparent;
  color: rgb(9, 9, 9);
  height: 40px;
}

.inputDecorated:focus {
  border-color: #f6f8f8;
  box-shadow: 0 0 8px 0 #eaedee;
}

.btn {
  margin-left: 5px;
  margin-top: 20px;
  height: 40px;
  /* margin: 0px 0px 0px 0px;  */
  width: 50px;
  color: #0f0f0f;
  text-decoration: none;
  border: 2px transparent;
  background-color: transparent;
  padding: 1px 1px 1px 1px;
  font-size: 25px;
  border-radius: 15px;
  transition-property: all;
  transition-duration: 0.5s;
}

.btn:hover {
  color: #000000;
  border: 2px solid #f1f5f6;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
}
