@font-face {
  font-family: "Prototype";
  src: url("../../assets/Prototype.ttf") format("truetype");
}
.paginated {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 20px;
  font-family: "Prototype";
}

.Btn {
  margin: 0px 10px 0px 0px;
  width: 40px;
  color: #ffae00;
  text-decoration: none;
  font-family: "Prototype";
  border: 1px solid #0a0a0a;
  background-color: var(--bg-color);
  padding: 5px 5px 5px 5px;
  font-size: 16px;
  border-radius: 5px;
  transition-property: all;
  transition-duration: 0.5s;
}

.Btn:hover {
  color: #000000;
  background-color: #ffea00;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
}

.BtnDisabled {
  margin: 0px 10px 0px 0px;
  width: 40px;
  color: #878888;
  text-decoration: none;
  font-family: "Prototype";
  border: 2px solid #878888;
  background-color: var(--bg-color);
  padding: 5px 5px 5px 5px;
  font-size: 16px;
  border-radius: 5px;
}

.BtnSelected {
  margin: 0px 10px 0px 0px;
  width: 40px;
  color: white;
  text-decoration: none;
  font-family: "Prototype";
  border: 2px solid #ffae00;
  background-color: #ffae00;
  padding: 5px 5px 5px 5px;
  font-size: 16px;
  border-radius: 5px;
  transition-property: all;
  transition-duration: 0.5s;
}
