@font-face {
  font-family: "Prototype";
  src: url("../../assets/Prototype.ttf") format("truetype");
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 83em;
  height: 4rem;
  margin: 10px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.419);
  border-radius: 10px;
  padding: 10px;
}

.navbar .newgame {
  font-size: 30px;
  margin-top: auto;
  margin-bottom: 10px;
  margin-right: 10px;
  font-family: "Prototype";
  color: rgb(9, 9, 9);
  text-transform: uppercase;
  animation: bounce 0.9s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(15px);
  }
}
.navbar .link {
  display: flex;
  align-items: flex-start;
  height: 70px;
}

.select {
  margin-left: 30px;
  padding: 20px 30px 20px 20px;
  height: 45px;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 15px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
  font-size: 25px;
  background-color: transparent;
  color: rgb(15, 15, 15);
  font-family: "Prototype";
  text-transform: uppercase;
}

.btn {
  margin-top: 20px;
  margin-left: 20px;
  height: 40px;
  width: 130px;
  color: rgb(10, 10, 0);
  text-decoration: none;
  border: 2px solid black;
  background-color: transparent;
  padding: 1px 1px 1px 1px;
  font-size: 17px;
  border-radius: 15px;
  transition-property: all;
  transition-duration: 0.5s;
  font-family: "Prototype";
  letter-spacing: 2px;
}

.btn:hover {
  cursor: pointer;
  transition-property: all;
  transition-duration: 1s;
}

@media (max-width: 1600px) {
  .select {
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    margin-left: 0.3rem;
  }
  .btnLightDark {
    margin-left: 0.5rem;
  }
  .navbar .title {
    font-size: 40px;
  }
  .navbar .optionBar {
    font-size: 20px;
    margin: 20px 10px 10px 10px;
    /* white-space: nowrap;
  	    overflow: hidden;
  	    text-overflow: ellipsis; */
  }
}

@media (max-width: 1100px) {
  .navbar .title {
    font-size: 1px;
    visibility: hidden;
  }
}
@media (min-width: 1601px) {
  .select {
    padding: 0px 0px 0px 0px;
    font-size: 25px;
    margin-left: 30px;
  }
  .btnLightDark {
    margin-left: 20px;
  }
  .navbar .title {
    font-size: 60px;
  }
  .navbar .optionBar {
    font-size: 25px;
    margin: 20px;
  }
  .navbar {
    width: auto;
    height: auto;
    margin: auto;
  }
}
